/// Parámetros que se aplicará al utilizar la Versión Dark o la Versión Light
$dark-theme: false;
$color: #222;
$background-color: #DDD;

/// Color del body que es un poco más claro que el resto
$body-background: #FFF;

/// Si está activo la Versión Dark, tomará los siguientes valores
@if $dark-theme {
    $color: #DDD;
    $background-color: #222;
}

/// Colores que tomarán las celdas al pasarle el ratón por encima
$color-letra-celda: #ff0000;
$color-fondo-celda: #0c30ff;