/** FELX Y GRID **/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;

}

/* Contenedor Principal */
.container {
    margin: 15px auto;
    width: 98%;
}


/* Parte superior */
header {
    background-color: #000000;

}

header p {
    color: #ffffff;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 0.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}


/* Parte central; Títulos */
.parteCentral {
    background-color: #e9eee4;
    padding-bottom: 5%;
}

.titulo {
    text-align: center;
}

#titulo {
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 2%;
}

#subtitulo {
    padding-top: 1%;
    font-size: 25px;
    font-weight: bold;
}

/* Parte central; Portada (imagen del medio y el formulario) */
.contenidoCentral {
    display: flex;
    padding-top: 3%;
}


/* Parte central; Portada */
.portada {
    width: 60%;
}

.portada p {
    text-align: left;
    font-style: oblique;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 26px;
    line-height: 50px;
}

.portada img {
    width: 93%;
    padding-left: 3%;
    padding-bottom: 4%;
}

/* Parte central; Formulario */
.formulario {
    background-color: #ffffff;
    width: 40%;
}

#tituloFormulario {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 3%;
}

form {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 3%;
    padding-top: 3%;
}

input[type="text"] {
    width: 99%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    font-size: 22px;
}

select {
    width: 99%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    font-size: 22px;
}

textarea {
    width: 99%;
    height: 180px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 35px;
}

.labels {
    margin-bottom: 8px;
}

input,
select {
    margin-bottom: 25px;
}

input[type="submit"] {
    background-color: #7e2f5d;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-left-width: 0px;
    border-left-style: solid;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#enviar {
    text-align: center;
    background-color: #7e2f5d;
    margin-right: 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}





/**  © Sergio Bejarano Arroyo. **/