/// Mixin para dar estilos al Elemento Principal (Fila de la Maquetación).
/// @group layout
@mixin flex_mixin {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row;
}

/// Mixin para dar Colores de Fondo con Gradientes a los Botones.
/// @parameter {color} $color-inicial - Color superior del Gradiente.
/// @parameter {color} $color-final - Color inicial del Gradientes.
/// @group botones
@mixin gradient-x($color-inicial, $color-final) {
    background-image: linear-gradient(to bottom,
            $color-inicial 70%,
            $color-final 100%);
}

/// Mixin para fijar la duracion de una Transformacion.
/// @parameter {integer} $num_segundos - Número de segundos que va a durar la Animación.
/// @group cards
@mixin duration($num_segundos) {
    transition: linear #{$num_segundos + s};
}

/// Mixin para establecer en un Elemento una Animación de un número determinado de Vueltas.
/// @group cards
/// @parameter {integer} $num_vueltas - Número de Vueltas que va a girar el Elemento.
@mixin girar($num_vueltas) {
    transform: rotate(#{360 * $num_vueltas}deg);
}